-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "DealStage" AS ENUM ('LEAD', 'MEETING', 'BOOKING', 'DEPOSIT', 'CONTRACT', 'COMPLETED', 'CANCELLED');

-- CreateEnum
CREATE TYPE "LeadSource" AS ENUM ('FACEBOOK_ADS', 'GOOGLE_ADS', 'HOTLINE', 'REFERRAL', 'WALK_IN', 'WEBSITE', 'SELF_GEN', 'MARKETING');

-- CreateEnum
CREATE TYPE "PropertyUnitStatus" AS ENUM ('AVAILABLE', 'BOOKED', 'LOCKED', 'PENDING_DEPOSIT', 'DEPOSIT', 'SOLD', 'COMPLETED');

-- CreateEnum
CREATE TYPE "DebtType" AS ENUM ('RECEIVABLE_CUSTOMER', 'RECEIVABLE_DEVELOPER', 'PAYABLE_STAFF');

-- CreateEnum
CREATE TYPE "ContractType" AS ENUM ('PROBATION', 'DEFINITE', 'INDEFINITE', 'FREELANCE');

-- CreateEnum
CREATE TYPE "LeaveType" AS ENUM ('ANNUAL', 'SICK', 'UNPAID', 'MATERNITY');

-- CreateEnum
CREATE TYPE "AttendanceStatus" AS ENUM ('PRESENT', 'LATE', 'ABSENT', 'HALF_DAY', 'DAY_OFF');

-- CreateEnum
CREATE TYPE "AppointmentType" AS ENUM ('MEETING', 'SITE_VISIT', 'FOLLOW_UP', 'SIGNING');

-- CreateEnum
CREATE TYPE "AppointmentStatus" AS ENUM ('SCHEDULED', 'CONFIRMED', 'COMPLETED', 'CANCELLED', 'NO_SHOW');

-- CreateTable
CREATE TABLE "role_permissions" (
    "id" TEXT NOT NULL,
    "role" TEXT NOT NULL,
    "module" TEXT NOT NULL,
    "permission" TEXT NOT NULL DEFAULT 'none',
    "updated_by" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "role_permissions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "system_settings" (
    "id" TEXT NOT NULL,
    "key" TEXT NOT NULL,
    "value" TEXT NOT NULL,
    "group" TEXT NOT NULL DEFAULT 'general',
    "label" TEXT,
    "description" TEXT,
    "value_type" TEXT NOT NULL DEFAULT 'string',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "system_settings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "feature_flags" (
    "id" TEXT NOT NULL,
    "key" TEXT NOT NULL,
    "enabled" BOOLEAN NOT NULL DEFAULT false,
    "description" TEXT,
    "module" TEXT,
    "updated_by" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "feature_flags_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "admin_notifications" (
    "id" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "severity" TEXT NOT NULL DEFAULT 'info',
    "user_id" TEXT,
    "is_read" BOOLEAN NOT NULL DEFAULT false,
    "metadata" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "admin_notifications_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "changelogs" (
    "id" TEXT NOT NULL,
    "version" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "type" TEXT NOT NULL DEFAULT 'feature',
    "author" TEXT,
    "published_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "changelogs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "audit_logs" (
    "id" TEXT NOT NULL,
    "user_id" TEXT,
    "user_name" TEXT,
    "action" TEXT NOT NULL,
    "resource" TEXT,
    "method" TEXT,
    "request_body" TEXT,
    "response_status" TEXT,
    "error_message" TEXT,
    "duration" INTEGER,
    "ip" TEXT,
    "user_agent" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "audit_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "fact_plan_snapshot_logs" (
    "id" TEXT NOT NULL,
    "snapshotId" TEXT NOT NULL,
    "planId" TEXT NOT NULL,
    "year" INTEGER NOT NULL,
    "scenarioKey" TEXT NOT NULL,
    "ownerEmail" TEXT,
    "json" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "fact_plan_snapshot_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "bizfly_sync_logs" (
    "id" TEXT NOT NULL,
    "syncType" TEXT NOT NULL,
    "syncDirection" TEXT NOT NULL DEFAULT 'PULL',
    "status" TEXT NOT NULL DEFAULT 'PENDING',
    "recordsTotal" INTEGER NOT NULL DEFAULT 0,
    "recordsSynced" INTEGER NOT NULL DEFAULT 0,
    "recordsFailed" INTEGER NOT NULL DEFAULT 0,
    "errorMessage" TEXT,
    "startedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "completedAt" TIMESTAMP(3),
    "initiatedBy" TEXT,
    "metadata" TEXT,

    CONSTRAINT "bizfly_sync_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "users" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "password" TEXT NOT NULL,
    "role" TEXT NOT NULL DEFAULT 'employee',
    "department" TEXT,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "sales_role" TEXT,
    "team_id" TEXT,
    "last_login_at" TIMESTAMP(3),
    "login_count" INTEGER NOT NULL DEFAULT 0,
    "failed_login_attempts" INTEGER NOT NULL DEFAULT 0,
    "locked_until" TIMESTAMP(3),
    "password_changed_at" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "refresh_tokens" (
    "id" TEXT NOT NULL,
    "token" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "expires_at" TIMESTAMP(3) NOT NULL,
    "revoked_at" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "device_info" TEXT,

    CONSTRAINT "refresh_tokens_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "plan_scenario_logs" (
    "id" TEXT NOT NULL,
    "plan_id" TEXT NOT NULL,
    "module_key" TEXT NOT NULL DEFAULT 'EXEC',
    "scenario" TEXT NOT NULL,
    "year" INTEGER NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "created_by" TEXT NOT NULL,
    "schema_version" TEXT NOT NULL DEFAULT '1',
    "deleted_at" TIMESTAMP(3),
    "raw_json" JSONB,
    "note" TEXT,

    CONSTRAINT "plan_scenario_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "plan_bundle_logs" (
    "id" TEXT NOT NULL,
    "plan_id" TEXT NOT NULL,
    "module_key" TEXT NOT NULL DEFAULT 'EXEC',
    "scenario" TEXT NOT NULL,
    "year" INTEGER NOT NULL,
    "tab_key" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "created_by" TEXT NOT NULL,
    "schema_version" TEXT NOT NULL DEFAULT '1',
    "deleted_at" TIMESTAMP(3),
    "raw_json" JSONB,
    "note" TEXT,

    CONSTRAINT "plan_bundle_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "exec_plan_latest" (
    "id" TEXT NOT NULL,
    "year" INTEGER NOT NULL,
    "scenario_key" TEXT NOT NULL,
    "tab_key" TEXT NOT NULL,
    "latest_plan_id" TEXT,
    "latest_bundle_id" TEXT,
    "updated_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_by" TEXT,
    "schema_version" TEXT NOT NULL DEFAULT '1',
    "raw_json" JSONB,
    "note" TEXT,

    CONSTRAINT "exec_plan_latest_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "exec_kpi_latest" (
    "id" TEXT NOT NULL,
    "year" INTEGER NOT NULL,
    "scenarioKey" TEXT NOT NULL,
    "tabKey" TEXT NOT NULL,
    "kpiKey" TEXT NOT NULL,
    "value" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "unit" TEXT,
    "sourcePlanId" TEXT,
    "calcVersion" TEXT,
    "updatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedBy" TEXT,
    "note" TEXT,

    CONSTRAINT "exec_kpi_latest_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "exec_kpi_logs" (
    "id" TEXT NOT NULL,
    "snapshotId" TEXT NOT NULL,
    "year" INTEGER NOT NULL,
    "scenarioKey" TEXT NOT NULL,
    "tabKey" TEXT NOT NULL,
    "kpiKey" TEXT NOT NULL,
    "value" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "unit" TEXT,
    "sourcePlanId" TEXT,
    "calcVersion" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdBy" TEXT,
    "rawJson" TEXT,
    "note" TEXT,

    CONSTRAINT "exec_kpi_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "finance_accounts" (
    "id" TEXT NOT NULL,
    "accountCode" TEXT NOT NULL,
    "accountName" TEXT NOT NULL,
    "accountType" TEXT NOT NULL DEFAULT 'BANK',
    "bankName" TEXT,
    "bankNumber" TEXT,
    "initialBalance" DECIMAL(18,2) NOT NULL DEFAULT 0,
    "currentBalance" DECIMAL(18,2) NOT NULL DEFAULT 0,
    "currency" TEXT NOT NULL DEFAULT 'VND',
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',
    "note" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "finance_accounts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "finance_categories" (
    "id" TEXT NOT NULL,
    "categoryCode" TEXT NOT NULL,
    "categoryName" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "description" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "finance_categories_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "finance_transactions" (
    "id" TEXT NOT NULL,
    "transactionCode" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "amount" DECIMAL(18,2) NOT NULL DEFAULT 0,
    "currency" TEXT NOT NULL DEFAULT 'VND',
    "accountId" TEXT NOT NULL,
    "categoryId" TEXT NOT NULL,
    "dealId" TEXT,
    "projectId" TEXT,
    "customerId" TEXT,
    "staffId" TEXT,
    "payerName" TEXT,
    "receiverName" TEXT,
    "paymentMethod" TEXT NOT NULL DEFAULT 'BANK_TRANSFER',
    "paymentDate" TIMESTAMP(3) NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'DRAFT',
    "approvedBy" TEXT,
    "approvedAt" TIMESTAMP(3),
    "documentUrl" TEXT,
    "note" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "createdBy" TEXT,

    CONSTRAINT "finance_transactions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "debt_records" (
    "id" TEXT NOT NULL,
    "debtCode" TEXT NOT NULL,
    "debtType" "DebtType" NOT NULL,
    "customerId" TEXT,
    "projectId" TEXT,
    "staffId" TEXT,
    "dealId" TEXT,
    "totalAmount" DECIMAL(18,2) NOT NULL DEFAULT 0,
    "paidAmount" DECIMAL(18,2) NOT NULL DEFAULT 0,
    "remainingAmount" DECIMAL(18,2) NOT NULL DEFAULT 0,
    "dueDate" TIMESTAMP(3),
    "status" TEXT NOT NULL DEFAULT 'UNPAID',
    "note" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "transactionId" TEXT,

    CONSTRAINT "debt_records_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "finance_budgets" (
    "id" TEXT NOT NULL,
    "year" INTEGER NOT NULL,
    "month" INTEGER NOT NULL,
    "categoryId" TEXT NOT NULL,
    "budgetAmount" DECIMAL(18,2) NOT NULL DEFAULT 0,
    "actualAmount" DECIMAL(18,2) NOT NULL DEFAULT 0,
    "variance" DECIMAL(18,2) NOT NULL DEFAULT 0,
    "note" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "finance_budgets_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "hr_departments" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "managerId" TEXT,
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "hr_departments_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "hr_positions" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "level" TEXT,
    "description" TEXT,
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "hr_positions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "hr_teams" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "departmentId" TEXT NOT NULL,
    "description" TEXT,
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "hr_teams_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "hr_employees" (
    "id" TEXT NOT NULL,
    "userId" TEXT,
    "employeeCode" TEXT NOT NULL,
    "fullName" TEXT NOT NULL,
    "english_name" TEXT,
    "gender" TEXT,
    "dateOfBirth" TIMESTAMP(3),
    "phone" TEXT,
    "email" TEXT,
    "personalEmail" TEXT,
    "address" TEXT,
    "identityNumber" TEXT,
    "bankName" TEXT,
    "bankAccount" TEXT,
    "departmentId" TEXT,
    "positionId" TEXT,
    "managerId" TEXT,
    "teamId" TEXT,
    "joinDate" TIMESTAMP(3) NOT NULL,
    "leaveDate" TIMESTAMP(3),
    "status" TEXT NOT NULL DEFAULT 'PROBATION',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "hr_employees_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "hr_transfer_history" (
    "id" TEXT NOT NULL,
    "employeeId" TEXT NOT NULL,
    "transferType" TEXT NOT NULL,
    "fromDepartmentId" TEXT,
    "toDepartmentId" TEXT,
    "fromTeamId" TEXT,
    "toTeamId" TEXT,
    "reason" TEXT,
    "effectiveDate" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "hr_transfer_history_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "hr_contracts" (
    "id" TEXT NOT NULL,
    "employeeId" TEXT NOT NULL,
    "contractCode" TEXT NOT NULL,
    "contractType" "ContractType" NOT NULL,
    "startDate" TIMESTAMP(3) NOT NULL,
    "endDate" TIMESTAMP(3),
    "baseSalary" DECIMAL(18,2) NOT NULL DEFAULT 0,
    "grossSalary" DECIMAL(18,2) NOT NULL DEFAULT 0,
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',
    "documentUrl" TEXT,
    "note" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "hr_contracts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "hr_attendances" (
    "id" TEXT NOT NULL,
    "employeeId" TEXT NOT NULL,
    "date" TIMESTAMP(3) NOT NULL,
    "checkInTime" TIMESTAMP(3),
    "checkOutTime" TIMESTAMP(3),
    "workingHours" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "status" "AttendanceStatus" NOT NULL DEFAULT 'PRESENT',
    "locationInfo" TEXT,
    "note" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "hr_attendances_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "hr_leave_requests" (
    "id" TEXT NOT NULL,
    "employeeId" TEXT NOT NULL,
    "leaveType" "LeaveType" NOT NULL,
    "startDate" TIMESTAMP(3) NOT NULL,
    "endDate" TIMESTAMP(3) NOT NULL,
    "totalDays" DOUBLE PRECISION NOT NULL,
    "reason" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'PENDING',
    "approverId" TEXT,
    "approvedAt" TIMESTAMP(3),
    "note" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "hr_leave_requests_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "hr_salary_records" (
    "id" TEXT NOT NULL,
    "employeeId" TEXT NOT NULL,
    "period" TEXT NOT NULL,
    "year" INTEGER NOT NULL,
    "month" INTEGER NOT NULL,
    "standardWorkDays" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "actualWorkDays" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "paidLeaveDays" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "baseSalaryValue" DECIMAL(18,2) NOT NULL DEFAULT 0,
    "totalAllowance" DECIMAL(18,2) NOT NULL DEFAULT 0,
    "totalDeduction" DECIMAL(18,2) NOT NULL DEFAULT 0,
    "taxBhiT" DECIMAL(18,2) NOT NULL DEFAULT 0,
    "commission" DECIMAL(18,2) NOT NULL DEFAULT 0,
    "netPay" DECIMAL(18,2) NOT NULL DEFAULT 0,
    "status" TEXT NOT NULL DEFAULT 'DRAFT',
    "paidAt" TIMESTAMP(3),
    "note" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "hr_salary_records_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "hr_salary_items" (
    "id" TEXT NOT NULL,
    "salaryId" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "itemCode" TEXT NOT NULL,
    "itemName" TEXT NOT NULL,
    "amount" DECIMAL(18,2) NOT NULL DEFAULT 0,
    "note" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "hr_salary_items_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "hr_performance_reviews" (
    "id" TEXT NOT NULL,
    "employeeId" TEXT NOT NULL,
    "reviewerId" TEXT NOT NULL,
    "period" TEXT NOT NULL,
    "overallScore" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "kpiSnapshot" TEXT,
    "strengths" TEXT,
    "weaknesses" TEXT,
    "goals" TEXT,
    "status" TEXT NOT NULL DEFAULT 'DRAFT',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "hr_performance_reviews_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "hr_job_postings" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "department" TEXT,
    "type" TEXT NOT NULL DEFAULT 'Full-time',
    "location" TEXT,
    "description" TEXT,
    "candidates" INTEGER NOT NULL DEFAULT 0,
    "status" TEXT NOT NULL DEFAULT 'OPEN',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "hr_job_postings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "hr_candidates" (
    "id" TEXT NOT NULL,
    "jobId" TEXT,
    "name" TEXT NOT NULL,
    "email" TEXT,
    "phone" TEXT,
    "source" TEXT,
    "stage" TEXT NOT NULL DEFAULT 'NEW',
    "rating" TEXT,
    "note" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "hr_candidates_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "hr_courses" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "category" TEXT,
    "duration" TEXT,
    "description" TEXT,
    "enrolled" INTEGER NOT NULL DEFAULT 0,
    "completed" INTEGER NOT NULL DEFAULT 0,
    "status" TEXT NOT NULL DEFAULT 'OPEN',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "hr_courses_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "hr_trainees" (
    "id" TEXT NOT NULL,
    "courseId" TEXT,
    "employeeCode" TEXT,
    "name" TEXT NOT NULL,
    "progress" INTEGER NOT NULL DEFAULT 0,
    "score" TEXT,
    "status" TEXT NOT NULL DEFAULT 'NOT_STARTED',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "hr_trainees_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "hr_leave_balances" (
    "id" TEXT NOT NULL,
    "employeeId" TEXT NOT NULL,
    "year" INTEGER NOT NULL,
    "totalEntitled" DOUBLE PRECISION NOT NULL DEFAULT 12,
    "used" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "pending" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "carriedOver" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "remaining" DOUBLE PRECISION NOT NULL DEFAULT 12,
    "lastCalculated" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "hr_leave_balances_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "hr_benefits" (
    "id" TEXT NOT NULL,
    "employeeId" TEXT NOT NULL,
    "benefitType" TEXT NOT NULL,
    "benefitName" TEXT NOT NULL,
    "provider" TEXT,
    "policyNumber" TEXT,
    "startDate" TIMESTAMP(3),
    "endDate" TIMESTAMP(3),
    "employeeRate" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "companyRate" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "monthlyAmount" DECIMAL(18,2) NOT NULL DEFAULT 0,
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',
    "note" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "hr_benefits_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "hr_policies" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "category" TEXT NOT NULL,
    "icon" TEXT,
    "color" TEXT NOT NULL DEFAULT '#3b82f6',
    "items" TEXT NOT NULL,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "effectiveDate" TIMESTAMP(3),
    "issuedBy" TEXT,
    "version" TEXT NOT NULL DEFAULT '1.0',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "hr_policies_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "hr_overtime_records" (
    "id" TEXT NOT NULL,
    "employeeId" TEXT NOT NULL,
    "date" TIMESTAMP(3) NOT NULL,
    "startTime" TIMESTAMP(3) NOT NULL,
    "endTime" TIMESTAMP(3) NOT NULL,
    "hours" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "overtimeType" TEXT NOT NULL DEFAULT 'WEEKDAY',
    "multiplier" DOUBLE PRECISION NOT NULL DEFAULT 1.5,
    "reason" TEXT,
    "status" TEXT NOT NULL DEFAULT 'PENDING',
    "approverId" TEXT,
    "approvedAt" TIMESTAMP(3),
    "note" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "hr_overtime_records_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "legal_project_docs" (
    "id" TEXT NOT NULL,
    "projectId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "docType" TEXT NOT NULL DEFAULT 'GENERAL',
    "fileUrl" TEXT,
    "issuedDate" TIMESTAMP(3),
    "expiredDate" TIMESTAMP(3),
    "status" TEXT NOT NULL DEFAULT 'VALID',
    "note" TEXT,
    "createdBy" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "legal_project_docs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "project_policies" (
    "id" TEXT NOT NULL,
    "projectId" TEXT,
    "name" TEXT NOT NULL,
    "startDate" TIMESTAMP(3),
    "endDate" TIMESTAMP(3),
    "status" TEXT NOT NULL DEFAULT 'DRAFT',
    "rules" TEXT,
    "color" TEXT NOT NULL DEFAULT '#10b981',
    "description" TEXT,
    "createdBy" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "project_policies_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "project_assignments" (
    "id" TEXT NOT NULL,
    "projectId" TEXT,
    "userId" TEXT,
    "name" TEXT NOT NULL,
    "email" TEXT,
    "role" TEXT NOT NULL DEFAULT 'Sales Rep',
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',
    "assignedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "project_assignments_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "legal_transaction_docs" (
    "id" TEXT NOT NULL,
    "dealId" TEXT NOT NULL,
    "customerId" TEXT,
    "name" TEXT NOT NULL,
    "docType" TEXT NOT NULL DEFAULT 'CONTRACT',
    "fileUrl" TEXT,
    "signedDate" TIMESTAMP(3),
    "status" TEXT NOT NULL DEFAULT 'DRAFT',
    "note" TEXT,
    "createdBy" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "legal_transaction_docs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "legal_templates" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "docType" TEXT NOT NULL DEFAULT 'CONTRACT',
    "fileUrl" TEXT NOT NULL,
    "version" TEXT NOT NULL DEFAULT '1.0',
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "legal_templates_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "mkt_campaigns" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "channel" TEXT NOT NULL DEFAULT 'FACEBOOK',
    "budget" DECIMAL(18,2) NOT NULL DEFAULT 0,
    "spend" DECIMAL(18,2) NOT NULL DEFAULT 0,
    "leads" INTEGER NOT NULL DEFAULT 0,
    "conversions" INTEGER NOT NULL DEFAULT 0,
    "status" TEXT NOT NULL DEFAULT 'DRAFT',
    "startDate" TIMESTAMP(3),
    "endDate" TIMESTAMP(3),
    "description" TEXT,
    "createdBy" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "mkt_campaigns_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "mkt_leads" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "email" TEXT,
    "phone" TEXT,
    "source" TEXT NOT NULL DEFAULT 'WEBSITE',
    "status" TEXT NOT NULL DEFAULT 'NEW',
    "assignedTo" TEXT,
    "assignedName" TEXT,
    "campaignId" TEXT,
    "note" TEXT,
    "score" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "mkt_leads_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "mkt_contents" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "contentType" TEXT NOT NULL DEFAULT 'POST',
    "channel" TEXT NOT NULL DEFAULT 'FACEBOOK',
    "scheduledDate" TIMESTAMP(3),
    "publishedDate" TIMESTAMP(3),
    "status" TEXT NOT NULL DEFAULT 'DRAFT',
    "author" TEXT,
    "description" TEXT,
    "engagement" INTEGER NOT NULL DEFAULT 0,
    "reach" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "mkt_contents_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "mkt_channel_performances" (
    "id" TEXT NOT NULL,
    "channelKey" TEXT NOT NULL,
    "period" TEXT NOT NULL,
    "year" INTEGER NOT NULL,
    "month" INTEGER NOT NULL,
    "leads" INTEGER NOT NULL DEFAULT 0,
    "spend" DECIMAL(18,2) NOT NULL DEFAULT 0,
    "roas" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "cpl" DECIMAL(18,2) NOT NULL DEFAULT 0,
    "conversions" INTEGER NOT NULL DEFAULT 0,
    "revenue" DECIMAL(18,2) NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "mkt_channel_performances_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "mkt_plan_headers" (
    "id" TEXT NOT NULL,
    "planId" TEXT NOT NULL,
    "year" INTEGER NOT NULL,
    "scenarioKey" TEXT NOT NULL,
    "ownerEmail" TEXT,
    "status" TEXT NOT NULL DEFAULT 'DRAFT',
    "totalBudgetVnd" DECIMAL(18,4) NOT NULL DEFAULT 0,
    "currency" TEXT NOT NULL DEFAULT 'VND',
    "note" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "mkt_plan_headers_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "mkt_plan_channel_budgets" (
    "id" TEXT NOT NULL,
    "planId" TEXT NOT NULL,
    "year" INTEGER NOT NULL,
    "scenarioKey" TEXT NOT NULL,
    "channelKey" TEXT NOT NULL,
    "channelLabel" TEXT,
    "budgetVnd" DECIMAL(18,4) NOT NULL DEFAULT 0,
    "pct" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "kpiLeadTarget" DOUBLE PRECISION,
    "kpiCplTargetVnd" DECIMAL(18,4),
    "note" TEXT,
    "updatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "mkt_plan_channel_budgets_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "mkt_plan_kpi_targets" (
    "id" TEXT NOT NULL,
    "planId" TEXT NOT NULL,
    "year" INTEGER NOT NULL,
    "scenarioKey" TEXT NOT NULL,
    "kpiKey" TEXT NOT NULL,
    "kpiLabel" TEXT,
    "targetValue" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "unit" TEXT,
    "note" TEXT,
    "updatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "mkt_plan_kpi_targets_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "mkt_plan_assumptions" (
    "id" TEXT NOT NULL,
    "planId" TEXT NOT NULL,
    "year" INTEGER NOT NULL,
    "scenarioKey" TEXT NOT NULL,
    "key" TEXT NOT NULL,
    "label" TEXT,
    "value" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "unit" TEXT,
    "note" TEXT,
    "updatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "mkt_plan_assumptions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "notifications" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "body" TEXT NOT NULL,
    "type" TEXT NOT NULL DEFAULT 'INFO',
    "entityType" TEXT,
    "entityId" TEXT,
    "isRead" BOOLEAN NOT NULL DEFAULT false,
    "readAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "notifications_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "file_attachments" (
    "id" TEXT NOT NULL,
    "fileName" TEXT NOT NULL,
    "fileUrl" TEXT NOT NULL,
    "fileSize" INTEGER,
    "mimeType" TEXT,
    "entityType" TEXT NOT NULL,
    "entityId" TEXT NOT NULL,
    "uploadedBy" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "file_attachments_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "customers" (
    "id" TEXT NOT NULL,
    "fullName" TEXT NOT NULL,
    "phone" TEXT,
    "email" TEXT,
    "source" "LeadSource",
    "projectInterest" TEXT,
    "budget" TEXT,
    "status" TEXT NOT NULL DEFAULT 'NEW',
    "assignedTo" TEXT,
    "assignedName" TEXT,
    "isVip" BOOLEAN NOT NULL DEFAULT false,
    "lastContactAt" TIMESTAMP(3),
    "companyName" TEXT,
    "birthday" TIMESTAMP(3),
    "address" TEXT,
    "tags" TEXT,
    "utmSource" TEXT,
    "utmMedium" TEXT,
    "utmCampaign" TEXT,
    "note" TEXT,
    "year" INTEGER NOT NULL,
    "month" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "deletedAt" TIMESTAMP(3),

    CONSTRAINT "customers_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "sales_activities" (
    "id" TEXT NOT NULL,
    "date" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "staffId" TEXT NOT NULL,
    "staffName" TEXT,
    "teamId" TEXT,
    "teamName" TEXT,
    "postsCount" INTEGER NOT NULL DEFAULT 0,
    "callsCount" INTEGER NOT NULL DEFAULT 0,
    "newLeads" INTEGER NOT NULL DEFAULT 0,
    "meetingsMade" INTEGER NOT NULL DEFAULT 0,
    "note" TEXT,
    "year" INTEGER NOT NULL,
    "month" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "sales_activities_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "appointments" (
    "id" TEXT NOT NULL,
    "staffId" TEXT NOT NULL,
    "staffName" TEXT,
    "customerId" TEXT,
    "customerName" TEXT,
    "customerPhone" TEXT,
    "projectId" TEXT,
    "projectName" TEXT,
    "type" "AppointmentType" NOT NULL DEFAULT 'MEETING',
    "scheduledAt" TIMESTAMP(3) NOT NULL,
    "duration" INTEGER NOT NULL DEFAULT 60,
    "location" TEXT,
    "status" "AppointmentStatus" NOT NULL DEFAULT 'SCHEDULED',
    "outcome" TEXT,
    "note" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "appointments_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "property_products" (
    "id" TEXT NOT NULL,
    "projectId" TEXT NOT NULL,
    "projectName" TEXT,
    "code" TEXT NOT NULL,
    "block" TEXT,
    "floor" INTEGER NOT NULL DEFAULT 0,
    "area" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "price" DECIMAL(18,4) NOT NULL DEFAULT 0,
    "direction" TEXT,
    "bedrooms" INTEGER NOT NULL DEFAULT 0,
    "status" "PropertyUnitStatus" NOT NULL DEFAULT 'AVAILABLE',
    "bookedBy" TEXT,
    "lockedUntil" TIMESTAMP(3),
    "customerPhone" TEXT,
    "note" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "deletedAt" TIMESTAMP(3),

    CONSTRAINT "property_products_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "product_status_logs" (
    "id" TEXT NOT NULL,
    "productId" TEXT NOT NULL,
    "oldStatus" TEXT NOT NULL,
    "newStatus" TEXT NOT NULL,
    "changedBy" TEXT,
    "reason" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "product_status_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "sale_plan_latest" (
    "id" TEXT NOT NULL,
    "year" INTEGER NOT NULL,
    "scenarioKey" TEXT NOT NULL,
    "planId" TEXT NOT NULL,
    "updatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedBy" TEXT,
    "version" TEXT,
    "rawJson" TEXT,
    "note" TEXT,

    CONSTRAINT "sale_plan_latest_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "sale_plan_headers" (
    "id" TEXT NOT NULL,
    "planId" TEXT NOT NULL,
    "year" INTEGER NOT NULL,
    "scenarioKey" TEXT NOT NULL,
    "ownerEmail" TEXT,
    "status" TEXT NOT NULL DEFAULT 'DRAFT',
    "targetGMV" DECIMAL(18,4) NOT NULL DEFAULT 0,
    "avgDealValue" DECIMAL(18,4) NOT NULL DEFAULT 0,
    "headcount" INTEGER NOT NULL DEFAULT 0,
    "marketingRate" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "rateDeal" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "rateBooking" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "rateMeeting" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "note" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "sale_plan_headers_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "sale_plan_months" (
    "id" TEXT NOT NULL,
    "planId" TEXT NOT NULL,
    "year" INTEGER NOT NULL,
    "scenarioKey" TEXT NOT NULL,
    "month" INTEGER NOT NULL,
    "weight" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "gmv" DECIMAL(18,4) NOT NULL DEFAULT 0,
    "deals" INTEGER NOT NULL DEFAULT 0,
    "bookings" INTEGER NOT NULL DEFAULT 0,
    "meetings" INTEGER NOT NULL DEFAULT 0,
    "leadsSale" INTEGER NOT NULL DEFAULT 0,
    "note" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "sale_plan_months_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "sale_plan_teams" (
    "id" TEXT NOT NULL,
    "planId" TEXT NOT NULL,
    "year" INTEGER NOT NULL,
    "scenarioKey" TEXT NOT NULL,
    "teamId" TEXT,
    "name" TEXT NOT NULL,
    "leaderId" TEXT,
    "leaderName" TEXT,
    "status" TEXT NOT NULL DEFAULT 'active',
    "activeFrom" INTEGER NOT NULL DEFAULT 1,
    "activeTo" INTEGER NOT NULL DEFAULT 12,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "note" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "sale_plan_teams_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "sale_plan_staff" (
    "id" TEXT NOT NULL,
    "planId" TEXT NOT NULL,
    "year" INTEGER NOT NULL,
    "scenarioKey" TEXT NOT NULL,
    "staffId" TEXT,
    "hoTen" TEXT NOT NULL,
    "role" TEXT NOT NULL DEFAULT 'Sales',
    "team" TEXT,
    "status" TEXT NOT NULL DEFAULT 'active',
    "activeFrom" INTEGER NOT NULL DEFAULT 1,
    "activeTo" INTEGER NOT NULL DEFAULT 12,
    "leadsCapacity" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "rateMeeting" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "rateBooking" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "rateDeal" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "note" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "sale_plan_staff_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "dim_projects" (
    "id" TEXT NOT NULL,
    "projectCode" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "developer" TEXT,
    "location" TEXT,
    "type" TEXT,
    "feeRate" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "avgPrice" DECIMAL(18,4) NOT NULL DEFAULT 0,
    "totalUnits" INTEGER NOT NULL DEFAULT 0,
    "soldUnits" INTEGER NOT NULL DEFAULT 0,
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',
    "startDate" TIMESTAMP(3),
    "endDate" TIMESTAMP(3),
    "note" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "deletedAt" TIMESTAMP(3),

    CONSTRAINT "dim_projects_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "sales_teams" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "leaderId" TEXT,
    "leaderName" TEXT,
    "departmentId" TEXT,
    "region" TEXT,
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "deletedAt" TIMESTAMP(3),

    CONSTRAINT "sales_teams_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "sales_staff" (
    "id" TEXT NOT NULL,
    "userId" TEXT,
    "hrEmployeeId" TEXT,
    "employeeCode" TEXT,
    "fullName" TEXT NOT NULL,
    "phone" TEXT,
    "email" TEXT,
    "teamId" TEXT,
    "role" TEXT NOT NULL DEFAULT 'sales',
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',
    "joinDate" TIMESTAMP(3),
    "leaveDate" TIMESTAMP(3),
    "leadsCapacity" DOUBLE PRECISION NOT NULL DEFAULT 30,
    "personalTarget" DECIMAL(18,4) NOT NULL DEFAULT 0,
    "note" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "deletedAt" TIMESTAMP(3),

    CONSTRAINT "sales_staff_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "fact_deals" (
    "id" TEXT NOT NULL,
    "dealCode" TEXT,
    "bizflyCrmId" TEXT,
    "projectId" TEXT,
    "projectName" TEXT,
    "staffId" TEXT,
    "staffName" TEXT,
    "teamId" TEXT,
    "teamName" TEXT,
    "customerName" TEXT,
    "customerPhone" TEXT,
    "productCode" TEXT,
    "productType" TEXT,
    "dealValue" DECIMAL(18,4) NOT NULL DEFAULT 0,
    "feeRate" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "commission" DECIMAL(18,4) NOT NULL DEFAULT 0,
    "stage" "DealStage" NOT NULL DEFAULT 'LEAD',
    "dealDate" TIMESTAMP(3),
    "bookingDate" TIMESTAMP(3),
    "contractDate" TIMESTAMP(3),
    "source" "LeadSource",
    "note" TEXT,
    "year" INTEGER NOT NULL,
    "month" INTEGER NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "deletedAt" TIMESTAMP(3),

    CONSTRAINT "fact_deals_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "sales_bookings" (
    "id" TEXT NOT NULL,
    "projectId" TEXT,
    "projectName" TEXT NOT NULL,
    "customerName" TEXT NOT NULL,
    "customerPhone" TEXT NOT NULL,
    "bookingAmount" DECIMAL(18,4) NOT NULL DEFAULT 0,
    "bookingCount" INTEGER NOT NULL DEFAULT 1,
    "staffId" TEXT,
    "staffName" TEXT,
    "teamId" TEXT,
    "teamName" TEXT,
    "status" TEXT NOT NULL DEFAULT 'PENDING',
    "bookingDate" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "note" TEXT,
    "createdByUserId" TEXT,
    "createdByName" TEXT,
    "reviewedByUserId" TEXT,
    "reviewedByName" TEXT,
    "reviewedAt" TIMESTAMP(3),
    "year" INTEGER NOT NULL,
    "month" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "deletedAt" TIMESTAMP(3),

    CONSTRAINT "sales_bookings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "sales_deposits" (
    "id" TEXT NOT NULL,
    "projectId" TEXT,
    "projectName" TEXT NOT NULL,
    "unitCode" TEXT NOT NULL,
    "customerName" TEXT NOT NULL,
    "customerPhone" TEXT NOT NULL,
    "depositAmount" DECIMAL(18,4) NOT NULL DEFAULT 0,
    "staffId" TEXT,
    "staffName" TEXT,
    "teamId" TEXT,
    "teamName" TEXT,
    "paymentMethod" TEXT,
    "receiptNo" TEXT,
    "notes" TEXT,
    "status" TEXT NOT NULL DEFAULT 'PENDING',
    "depositDate" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdByUserId" TEXT,
    "createdByName" TEXT,
    "reviewedByUserId" TEXT,
    "reviewedByName" TEXT,
    "reviewedAt" TIMESTAMP(3),
    "year" INTEGER NOT NULL,
    "month" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "deletedAt" TIMESTAMP(3),

    CONSTRAINT "sales_deposits_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "fact_sales_daily" (
    "id" TEXT NOT NULL,
    "date" TIMESTAMP(3) NOT NULL,
    "year" INTEGER NOT NULL,
    "month" INTEGER NOT NULL,
    "week" INTEGER NOT NULL,
    "teamId" TEXT,
    "staffId" TEXT,
    "newLeads" INTEGER NOT NULL DEFAULT 0,
    "meetings" INTEGER NOT NULL DEFAULT 0,
    "bookings" INTEGER NOT NULL DEFAULT 0,
    "deposits" INTEGER NOT NULL DEFAULT 0,
    "contracts" INTEGER NOT NULL DEFAULT 0,
    "completedDeals" INTEGER NOT NULL DEFAULT 0,
    "cancelledDeals" INTEGER NOT NULL DEFAULT 0,
    "gmv" DECIMAL(18,4) NOT NULL DEFAULT 0,
    "revenue" DECIMAL(18,4) NOT NULL DEFAULT 0,
    "source" TEXT NOT NULL DEFAULT 'MANUAL',
    "syncedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "fact_sales_daily_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "fact_pipeline_snapshots" (
    "id" TEXT NOT NULL,
    "snapshotDate" TIMESTAMP(3) NOT NULL,
    "year" INTEGER NOT NULL,
    "month" INTEGER NOT NULL,
    "teamId" TEXT,
    "leadCount" INTEGER NOT NULL DEFAULT 0,
    "contactedCount" INTEGER NOT NULL DEFAULT 0,
    "meetingCount" INTEGER NOT NULL DEFAULT 0,
    "bookingCount" INTEGER NOT NULL DEFAULT 0,
    "depositCount" INTEGER NOT NULL DEFAULT 0,
    "contractCount" INTEGER NOT NULL DEFAULT 0,
    "completedCount" INTEGER NOT NULL DEFAULT 0,
    "totalPipelineValue" DECIMAL(18,4) NOT NULL DEFAULT 0,
    "source" TEXT NOT NULL DEFAULT 'MANUAL',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "fact_pipeline_snapshots_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "commission_records" (
    "id" TEXT NOT NULL,
    "dealId" TEXT NOT NULL,
    "staffId" TEXT NOT NULL,
    "staffName" TEXT,
    "teamId" TEXT,
    "role" TEXT NOT NULL,
    "dealValue" DECIMAL(18,4) NOT NULL DEFAULT 0,
    "commissionRate" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "commissionAmount" DECIMAL(18,4) NOT NULL DEFAULT 0,
    "status" TEXT NOT NULL DEFAULT 'PENDING',
    "period" TEXT,
    "approvedBy" TEXT,
    "approvedAt" TIMESTAMP(3),
    "paidAt" TIMESTAMP(3),
    "year" INTEGER NOT NULL,
    "month" INTEGER NOT NULL,
    "note" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "commission_records_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "sales_target_monthly" (
    "id" TEXT NOT NULL,
    "year" INTEGER NOT NULL,
    "month" INTEGER NOT NULL,
    "teamId" TEXT,
    "staffId" TEXT,
    "targetGMV" DECIMAL(18,4) NOT NULL DEFAULT 0,
    "targetDeals" INTEGER NOT NULL DEFAULT 0,
    "targetLeads" INTEGER NOT NULL DEFAULT 0,
    "targetMeetings" INTEGER NOT NULL DEFAULT 0,
    "targetBookings" INTEGER NOT NULL DEFAULT 0,
    "scenarioKey" TEXT NOT NULL DEFAULT 'base',
    "note" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "sales_target_monthly_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "sales_team_transfers" (
    "id" TEXT NOT NULL,
    "staffId" TEXT NOT NULL,
    "fromTeamId" TEXT,
    "toTeamId" TEXT NOT NULL,
    "transferDate" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "reason" TEXT,
    "approvedBy" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "sales_team_transfers_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "role_permissions_role_idx" ON "role_permissions"("role");

-- CreateIndex
CREATE UNIQUE INDEX "role_permissions_role_module_key" ON "role_permissions"("role", "module");

-- CreateIndex
CREATE UNIQUE INDEX "system_settings_key_key" ON "system_settings"("key");

-- CreateIndex
CREATE INDEX "system_settings_group_idx" ON "system_settings"("group");

-- CreateIndex
CREATE UNIQUE INDEX "feature_flags_key_key" ON "feature_flags"("key");

-- CreateIndex
CREATE INDEX "feature_flags_module_idx" ON "feature_flags"("module");

-- CreateIndex
CREATE INDEX "admin_notifications_user_id_is_read_idx" ON "admin_notifications"("user_id", "is_read");

-- CreateIndex
CREATE INDEX "admin_notifications_created_at_idx" ON "admin_notifications"("created_at");

-- CreateIndex
CREATE INDEX "changelogs_published_at_idx" ON "changelogs"("published_at");

-- CreateIndex
CREATE INDEX "audit_logs_action_idx" ON "audit_logs"("action");

-- CreateIndex
CREATE INDEX "audit_logs_user_id_idx" ON "audit_logs"("user_id");

-- CreateIndex
CREATE INDEX "audit_logs_resource_idx" ON "audit_logs"("resource");

-- CreateIndex
CREATE INDEX "audit_logs_created_at_idx" ON "audit_logs"("created_at" DESC);

-- CreateIndex
CREATE INDEX "fact_plan_snapshot_logs_planId_idx" ON "fact_plan_snapshot_logs"("planId");

-- CreateIndex
CREATE INDEX "fact_plan_snapshot_logs_year_scenarioKey_idx" ON "fact_plan_snapshot_logs"("year", "scenarioKey");

-- CreateIndex
CREATE INDEX "fact_plan_snapshot_logs_createdAt_idx" ON "fact_plan_snapshot_logs"("createdAt" DESC);

-- CreateIndex
CREATE INDEX "bizfly_sync_logs_status_idx" ON "bizfly_sync_logs"("status");

-- CreateIndex
CREATE INDEX "bizfly_sync_logs_startedAt_idx" ON "bizfly_sync_logs"("startedAt" DESC);

-- CreateIndex
CREATE UNIQUE INDEX "users_email_key" ON "users"("email");

-- CreateIndex
CREATE UNIQUE INDEX "refresh_tokens_token_key" ON "refresh_tokens"("token");

-- CreateIndex
CREATE INDEX "refresh_tokens_user_id_idx" ON "refresh_tokens"("user_id");

-- CreateIndex
CREATE INDEX "refresh_tokens_expires_at_idx" ON "refresh_tokens"("expires_at");

-- CreateIndex
CREATE INDEX "plan_scenario_logs_plan_id_idx" ON "plan_scenario_logs"("plan_id");

-- CreateIndex
CREATE INDEX "plan_scenario_logs_year_scenario_idx" ON "plan_scenario_logs"("year", "scenario");

-- CreateIndex
CREATE INDEX "plan_scenario_logs_created_at_idx" ON "plan_scenario_logs"("created_at" DESC);

-- CreateIndex
CREATE INDEX "plan_bundle_logs_plan_id_idx" ON "plan_bundle_logs"("plan_id");

-- CreateIndex
CREATE INDEX "plan_bundle_logs_year_scenario_tab_key_idx" ON "plan_bundle_logs"("year", "scenario", "tab_key");

-- CreateIndex
CREATE INDEX "plan_bundle_logs_created_at_idx" ON "plan_bundle_logs"("created_at" DESC);

-- CreateIndex
CREATE UNIQUE INDEX "exec_plan_latest_year_scenario_key_tab_key_key" ON "exec_plan_latest"("year", "scenario_key", "tab_key");

-- CreateIndex
CREATE UNIQUE INDEX "exec_kpi_latest_year_scenarioKey_tabKey_kpiKey_key" ON "exec_kpi_latest"("year", "scenarioKey", "tabKey", "kpiKey");

-- CreateIndex
CREATE INDEX "exec_kpi_logs_snapshotId_idx" ON "exec_kpi_logs"("snapshotId");

-- CreateIndex
CREATE INDEX "exec_kpi_logs_year_scenarioKey_idx" ON "exec_kpi_logs"("year", "scenarioKey");

-- CreateIndex
CREATE INDEX "exec_kpi_logs_createdAt_idx" ON "exec_kpi_logs"("createdAt" DESC);

-- CreateIndex
CREATE UNIQUE INDEX "finance_accounts_accountCode_key" ON "finance_accounts"("accountCode");

-- CreateIndex
CREATE UNIQUE INDEX "finance_categories_categoryCode_key" ON "finance_categories"("categoryCode");

-- CreateIndex
CREATE UNIQUE INDEX "finance_transactions_transactionCode_key" ON "finance_transactions"("transactionCode");

-- CreateIndex
CREATE INDEX "finance_transactions_accountId_idx" ON "finance_transactions"("accountId");

-- CreateIndex
CREATE INDEX "finance_transactions_categoryId_idx" ON "finance_transactions"("categoryId");

-- CreateIndex
CREATE INDEX "finance_transactions_dealId_idx" ON "finance_transactions"("dealId");

-- CreateIndex
CREATE INDEX "finance_transactions_projectId_idx" ON "finance_transactions"("projectId");

-- CreateIndex
CREATE INDEX "finance_transactions_customerId_idx" ON "finance_transactions"("customerId");

-- CreateIndex
CREATE INDEX "finance_transactions_staffId_idx" ON "finance_transactions"("staffId");

-- CreateIndex
CREATE INDEX "finance_transactions_paymentDate_idx" ON "finance_transactions"("paymentDate" DESC);

-- CreateIndex
CREATE INDEX "finance_transactions_status_idx" ON "finance_transactions"("status");

-- CreateIndex
CREATE INDEX "finance_transactions_type_idx" ON "finance_transactions"("type");

-- CreateIndex
CREATE UNIQUE INDEX "debt_records_debtCode_key" ON "debt_records"("debtCode");

-- CreateIndex
CREATE INDEX "debt_records_customerId_idx" ON "debt_records"("customerId");

-- CreateIndex
CREATE INDEX "debt_records_projectId_idx" ON "debt_records"("projectId");

-- CreateIndex
CREATE INDEX "debt_records_staffId_idx" ON "debt_records"("staffId");

-- CreateIndex
CREATE INDEX "debt_records_dealId_idx" ON "debt_records"("dealId");

-- CreateIndex
CREATE INDEX "debt_records_transactionId_idx" ON "debt_records"("transactionId");

-- CreateIndex
CREATE INDEX "debt_records_debtType_idx" ON "debt_records"("debtType");

-- CreateIndex
CREATE INDEX "debt_records_status_idx" ON "debt_records"("status");

-- CreateIndex
CREATE INDEX "debt_records_dueDate_idx" ON "debt_records"("dueDate");

-- CreateIndex
CREATE UNIQUE INDEX "finance_budgets_year_month_categoryId_key" ON "finance_budgets"("year", "month", "categoryId");

-- CreateIndex
CREATE UNIQUE INDEX "hr_departments_code_key" ON "hr_departments"("code");

-- CreateIndex
CREATE UNIQUE INDEX "hr_positions_code_key" ON "hr_positions"("code");

-- CreateIndex
CREATE UNIQUE INDEX "hr_teams_code_key" ON "hr_teams"("code");

-- CreateIndex
CREATE INDEX "hr_teams_departmentId_idx" ON "hr_teams"("departmentId");

-- CreateIndex
CREATE UNIQUE INDEX "hr_employees_userId_key" ON "hr_employees"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "hr_employees_employeeCode_key" ON "hr_employees"("employeeCode");

-- CreateIndex
CREATE UNIQUE INDEX "hr_employees_identityNumber_key" ON "hr_employees"("identityNumber");

-- CreateIndex
CREATE INDEX "hr_employees_departmentId_idx" ON "hr_employees"("departmentId");

-- CreateIndex
CREATE INDEX "hr_employees_positionId_idx" ON "hr_employees"("positionId");

-- CreateIndex
CREATE INDEX "hr_employees_status_idx" ON "hr_employees"("status");

-- CreateIndex
CREATE INDEX "hr_transfer_history_employeeId_idx" ON "hr_transfer_history"("employeeId");

-- CreateIndex
CREATE INDEX "hr_transfer_history_effectiveDate_idx" ON "hr_transfer_history"("effectiveDate" DESC);

-- CreateIndex
CREATE UNIQUE INDEX "hr_contracts_contractCode_key" ON "hr_contracts"("contractCode");

-- CreateIndex
CREATE INDEX "hr_contracts_employeeId_idx" ON "hr_contracts"("employeeId");

-- CreateIndex
CREATE INDEX "hr_contracts_status_idx" ON "hr_contracts"("status");

-- CreateIndex
CREATE INDEX "hr_contracts_endDate_idx" ON "hr_contracts"("endDate");

-- CreateIndex
CREATE UNIQUE INDEX "hr_attendances_employeeId_date_key" ON "hr_attendances"("employeeId", "date");

-- CreateIndex
CREATE INDEX "hr_leave_requests_employeeId_idx" ON "hr_leave_requests"("employeeId");

-- CreateIndex
CREATE INDEX "hr_leave_requests_status_idx" ON "hr_leave_requests"("status");

-- CreateIndex
CREATE INDEX "hr_leave_requests_startDate_endDate_idx" ON "hr_leave_requests"("startDate", "endDate");

-- CreateIndex
CREATE INDEX "hr_salary_records_year_month_idx" ON "hr_salary_records"("year", "month");

-- CreateIndex
CREATE INDEX "hr_salary_records_status_idx" ON "hr_salary_records"("status");

-- CreateIndex
CREATE UNIQUE INDEX "hr_salary_records_employeeId_period_key" ON "hr_salary_records"("employeeId", "period");

-- CreateIndex
CREATE INDEX "hr_salary_items_salaryId_idx" ON "hr_salary_items"("salaryId");

-- CreateIndex
CREATE INDEX "hr_performance_reviews_employeeId_idx" ON "hr_performance_reviews"("employeeId");

-- CreateIndex
CREATE INDEX "hr_performance_reviews_reviewerId_idx" ON "hr_performance_reviews"("reviewerId");

-- CreateIndex
CREATE INDEX "hr_performance_reviews_period_idx" ON "hr_performance_reviews"("period");

-- CreateIndex
CREATE INDEX "hr_job_postings_status_idx" ON "hr_job_postings"("status");

-- CreateIndex
CREATE INDEX "hr_candidates_jobId_idx" ON "hr_candidates"("jobId");

-- CreateIndex
CREATE INDEX "hr_candidates_stage_idx" ON "hr_candidates"("stage");

-- CreateIndex
CREATE INDEX "hr_courses_status_idx" ON "hr_courses"("status");

-- CreateIndex
CREATE INDEX "hr_trainees_courseId_idx" ON "hr_trainees"("courseId");

-- CreateIndex
CREATE INDEX "hr_trainees_status_idx" ON "hr_trainees"("status");

-- CreateIndex
CREATE INDEX "hr_leave_balances_year_idx" ON "hr_leave_balances"("year");

-- CreateIndex
CREATE UNIQUE INDEX "hr_leave_balances_employeeId_year_key" ON "hr_leave_balances"("employeeId", "year");

-- CreateIndex
CREATE INDEX "hr_benefits_employeeId_idx" ON "hr_benefits"("employeeId");

-- CreateIndex
CREATE INDEX "hr_benefits_benefitType_idx" ON "hr_benefits"("benefitType");

-- CreateIndex
CREATE INDEX "hr_benefits_status_idx" ON "hr_benefits"("status");

-- CreateIndex
CREATE INDEX "hr_policies_category_idx" ON "hr_policies"("category");

-- CreateIndex
CREATE INDEX "hr_policies_isActive_idx" ON "hr_policies"("isActive");

-- CreateIndex
CREATE INDEX "hr_overtime_records_employeeId_idx" ON "hr_overtime_records"("employeeId");

-- CreateIndex
CREATE INDEX "hr_overtime_records_date_idx" ON "hr_overtime_records"("date");

-- CreateIndex
CREATE INDEX "hr_overtime_records_status_idx" ON "hr_overtime_records"("status");

-- CreateIndex
CREATE INDEX "legal_project_docs_projectId_idx" ON "legal_project_docs"("projectId");

-- CreateIndex
CREATE INDEX "legal_project_docs_status_idx" ON "legal_project_docs"("status");

-- CreateIndex
CREATE INDEX "legal_project_docs_expiredDate_idx" ON "legal_project_docs"("expiredDate");

-- CreateIndex
CREATE INDEX "project_policies_status_idx" ON "project_policies"("status");

-- CreateIndex
CREATE INDEX "project_policies_projectId_idx" ON "project_policies"("projectId");

-- CreateIndex
CREATE INDEX "project_assignments_projectId_idx" ON "project_assignments"("projectId");

-- CreateIndex
CREATE INDEX "project_assignments_userId_idx" ON "project_assignments"("userId");

-- CreateIndex
CREATE INDEX "project_assignments_status_idx" ON "project_assignments"("status");

-- CreateIndex
CREATE INDEX "legal_transaction_docs_dealId_idx" ON "legal_transaction_docs"("dealId");

-- CreateIndex
CREATE INDEX "legal_transaction_docs_customerId_idx" ON "legal_transaction_docs"("customerId");

-- CreateIndex
CREATE INDEX "legal_transaction_docs_status_idx" ON "legal_transaction_docs"("status");

-- CreateIndex
CREATE INDEX "mkt_campaigns_status_idx" ON "mkt_campaigns"("status");

-- CreateIndex
CREATE INDEX "mkt_campaigns_channel_idx" ON "mkt_campaigns"("channel");

-- CreateIndex
CREATE INDEX "mkt_campaigns_startDate_endDate_idx" ON "mkt_campaigns"("startDate", "endDate");

-- CreateIndex
CREATE INDEX "mkt_leads_status_idx" ON "mkt_leads"("status");

-- CreateIndex
CREATE INDEX "mkt_leads_source_idx" ON "mkt_leads"("source");

-- CreateIndex
CREATE INDEX "mkt_leads_campaignId_idx" ON "mkt_leads"("campaignId");

-- CreateIndex
CREATE INDEX "mkt_leads_assignedTo_idx" ON "mkt_leads"("assignedTo");

-- CreateIndex
CREATE INDEX "mkt_leads_createdAt_idx" ON "mkt_leads"("createdAt" DESC);

-- CreateIndex
CREATE INDEX "mkt_contents_status_idx" ON "mkt_contents"("status");

-- CreateIndex
CREATE INDEX "mkt_contents_channel_idx" ON "mkt_contents"("channel");

-- CreateIndex
CREATE INDEX "mkt_contents_scheduledDate_idx" ON "mkt_contents"("scheduledDate");

-- CreateIndex
CREATE INDEX "mkt_channel_performances_year_month_idx" ON "mkt_channel_performances"("year", "month");

-- CreateIndex
CREATE UNIQUE INDEX "mkt_channel_performances_channelKey_period_key" ON "mkt_channel_performances"("channelKey", "period");

-- CreateIndex
CREATE UNIQUE INDEX "mkt_plan_headers_planId_key" ON "mkt_plan_headers"("planId");

-- CreateIndex
CREATE INDEX "mkt_plan_headers_year_scenarioKey_idx" ON "mkt_plan_headers"("year", "scenarioKey");

-- CreateIndex
CREATE INDEX "mkt_plan_channel_budgets_planId_idx" ON "mkt_plan_channel_budgets"("planId");

-- CreateIndex
CREATE INDEX "mkt_plan_channel_budgets_year_scenarioKey_channelKey_idx" ON "mkt_plan_channel_budgets"("year", "scenarioKey", "channelKey");

-- CreateIndex
CREATE INDEX "mkt_plan_kpi_targets_planId_idx" ON "mkt_plan_kpi_targets"("planId");

-- CreateIndex
CREATE INDEX "mkt_plan_kpi_targets_year_scenarioKey_idx" ON "mkt_plan_kpi_targets"("year", "scenarioKey");

-- CreateIndex
CREATE INDEX "mkt_plan_assumptions_planId_idx" ON "mkt_plan_assumptions"("planId");

-- CreateIndex
CREATE INDEX "mkt_plan_assumptions_year_scenarioKey_idx" ON "mkt_plan_assumptions"("year", "scenarioKey");

-- CreateIndex
CREATE INDEX "notifications_userId_isRead_idx" ON "notifications"("userId", "isRead");

-- CreateIndex
CREATE INDEX "notifications_createdAt_idx" ON "notifications"("createdAt" DESC);

-- CreateIndex
CREATE INDEX "notifications_entityType_entityId_idx" ON "notifications"("entityType", "entityId");

-- CreateIndex
CREATE INDEX "file_attachments_entityType_entityId_idx" ON "file_attachments"("entityType", "entityId");

-- CreateIndex
CREATE INDEX "file_attachments_createdAt_idx" ON "file_attachments"("createdAt" DESC);

-- CreateIndex
CREATE INDEX "customers_year_month_idx" ON "customers"("year", "month");

-- CreateIndex
CREATE INDEX "customers_status_idx" ON "customers"("status");

-- CreateIndex
CREATE INDEX "customers_assignedTo_idx" ON "customers"("assignedTo");

-- CreateIndex
CREATE INDEX "customers_source_idx" ON "customers"("source");

-- CreateIndex
CREATE INDEX "customers_createdAt_idx" ON "customers"("createdAt" DESC);

-- CreateIndex
CREATE INDEX "customers_deletedAt_idx" ON "customers"("deletedAt");

-- CreateIndex
CREATE INDEX "sales_activities_year_month_idx" ON "sales_activities"("year", "month");

-- CreateIndex
CREATE INDEX "sales_activities_staffId_idx" ON "sales_activities"("staffId");

-- CreateIndex
CREATE INDEX "sales_activities_teamId_idx" ON "sales_activities"("teamId");

-- CreateIndex
CREATE INDEX "sales_activities_date_idx" ON "sales_activities"("date" DESC);

-- CreateIndex
CREATE INDEX "appointments_staffId_idx" ON "appointments"("staffId");

-- CreateIndex
CREATE INDEX "appointments_customerId_idx" ON "appointments"("customerId");

-- CreateIndex
CREATE INDEX "appointments_projectId_idx" ON "appointments"("projectId");

-- CreateIndex
CREATE INDEX "appointments_scheduledAt_idx" ON "appointments"("scheduledAt" DESC);

-- CreateIndex
CREATE INDEX "appointments_status_idx" ON "appointments"("status");

-- CreateIndex
CREATE UNIQUE INDEX "property_products_code_key" ON "property_products"("code");

-- CreateIndex
CREATE INDEX "property_products_projectId_idx" ON "property_products"("projectId");

-- CreateIndex
CREATE INDEX "property_products_status_idx" ON "property_products"("status");

-- CreateIndex
CREATE INDEX "property_products_deletedAt_idx" ON "property_products"("deletedAt");

-- CreateIndex
CREATE INDEX "product_status_logs_productId_idx" ON "product_status_logs"("productId");

-- CreateIndex
CREATE INDEX "product_status_logs_createdAt_idx" ON "product_status_logs"("createdAt" DESC);

-- CreateIndex
CREATE UNIQUE INDEX "sale_plan_latest_year_scenarioKey_key" ON "sale_plan_latest"("year", "scenarioKey");

-- CreateIndex
CREATE INDEX "sale_plan_headers_planId_idx" ON "sale_plan_headers"("planId");

-- CreateIndex
CREATE INDEX "sale_plan_headers_year_scenarioKey_idx" ON "sale_plan_headers"("year", "scenarioKey");

-- CreateIndex
CREATE INDEX "sale_plan_months_planId_idx" ON "sale_plan_months"("planId");

-- CreateIndex
CREATE UNIQUE INDEX "sale_plan_months_planId_year_scenarioKey_month_key" ON "sale_plan_months"("planId", "year", "scenarioKey", "month");

-- CreateIndex
CREATE INDEX "sale_plan_teams_planId_idx" ON "sale_plan_teams"("planId");

-- CreateIndex
CREATE INDEX "sale_plan_teams_year_scenarioKey_idx" ON "sale_plan_teams"("year", "scenarioKey");

-- CreateIndex
CREATE INDEX "sale_plan_staff_planId_idx" ON "sale_plan_staff"("planId");

-- CreateIndex
CREATE INDEX "sale_plan_staff_year_scenarioKey_idx" ON "sale_plan_staff"("year", "scenarioKey");

-- CreateIndex
CREATE UNIQUE INDEX "dim_projects_projectCode_key" ON "dim_projects"("projectCode");

-- CreateIndex
CREATE INDEX "dim_projects_status_idx" ON "dim_projects"("status");

-- CreateIndex
CREATE INDEX "dim_projects_deletedAt_idx" ON "dim_projects"("deletedAt");

-- CreateIndex
CREATE UNIQUE INDEX "sales_teams_code_key" ON "sales_teams"("code");

-- CreateIndex
CREATE INDEX "sales_teams_deletedAt_idx" ON "sales_teams"("deletedAt");

-- CreateIndex
CREATE UNIQUE INDEX "sales_staff_userId_key" ON "sales_staff"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "sales_staff_hrEmployeeId_key" ON "sales_staff"("hrEmployeeId");

-- CreateIndex
CREATE UNIQUE INDEX "sales_staff_employeeCode_key" ON "sales_staff"("employeeCode");

-- CreateIndex
CREATE INDEX "sales_staff_deletedAt_idx" ON "sales_staff"("deletedAt");

-- CreateIndex
CREATE UNIQUE INDEX "fact_deals_dealCode_key" ON "fact_deals"("dealCode");

-- CreateIndex
CREATE INDEX "fact_deals_year_month_idx" ON "fact_deals"("year", "month");

-- CreateIndex
CREATE INDEX "fact_deals_projectId_idx" ON "fact_deals"("projectId");

-- CreateIndex
CREATE INDEX "fact_deals_teamId_idx" ON "fact_deals"("teamId");

-- CreateIndex
CREATE INDEX "fact_deals_staffId_idx" ON "fact_deals"("staffId");

-- CreateIndex
CREATE INDEX "fact_deals_stage_idx" ON "fact_deals"("stage");

-- CreateIndex
CREATE INDEX "fact_deals_status_idx" ON "fact_deals"("status");

-- CreateIndex
CREATE INDEX "fact_deals_createdAt_idx" ON "fact_deals"("createdAt" DESC);

-- CreateIndex
CREATE INDEX "fact_deals_deletedAt_idx" ON "fact_deals"("deletedAt");

-- CreateIndex
CREATE INDEX "sales_bookings_year_month_idx" ON "sales_bookings"("year", "month");

-- CreateIndex
CREATE INDEX "sales_bookings_projectId_idx" ON "sales_bookings"("projectId");

-- CreateIndex
CREATE INDEX "sales_bookings_staffId_idx" ON "sales_bookings"("staffId");

-- CreateIndex
CREATE INDEX "sales_bookings_teamId_idx" ON "sales_bookings"("teamId");

-- CreateIndex
CREATE INDEX "sales_bookings_status_idx" ON "sales_bookings"("status");

-- CreateIndex
CREATE INDEX "sales_bookings_bookingDate_idx" ON "sales_bookings"("bookingDate" DESC);

-- CreateIndex
CREATE INDEX "sales_bookings_deletedAt_idx" ON "sales_bookings"("deletedAt");

-- CreateIndex
CREATE INDEX "sales_deposits_year_month_idx" ON "sales_deposits"("year", "month");

-- CreateIndex
CREATE INDEX "sales_deposits_projectId_idx" ON "sales_deposits"("projectId");

-- CreateIndex
CREATE INDEX "sales_deposits_staffId_idx" ON "sales_deposits"("staffId");

-- CreateIndex
CREATE INDEX "sales_deposits_teamId_idx" ON "sales_deposits"("teamId");

-- CreateIndex
CREATE INDEX "sales_deposits_status_idx" ON "sales_deposits"("status");

-- CreateIndex
CREATE INDEX "sales_deposits_depositDate_idx" ON "sales_deposits"("depositDate" DESC);

-- CreateIndex
CREATE INDEX "sales_deposits_deletedAt_idx" ON "sales_deposits"("deletedAt");

-- CreateIndex
CREATE UNIQUE INDEX "fact_sales_daily_date_teamId_staffId_key" ON "fact_sales_daily"("date", "teamId", "staffId");

-- CreateIndex
CREATE UNIQUE INDEX "fact_pipeline_snapshots_snapshotDate_teamId_key" ON "fact_pipeline_snapshots"("snapshotDate", "teamId");

-- CreateIndex
CREATE INDEX "commission_records_dealId_idx" ON "commission_records"("dealId");

-- CreateIndex
CREATE INDEX "commission_records_staffId_idx" ON "commission_records"("staffId");

-- CreateIndex
CREATE INDEX "commission_records_teamId_idx" ON "commission_records"("teamId");

-- CreateIndex
CREATE INDEX "commission_records_year_month_idx" ON "commission_records"("year", "month");

-- CreateIndex
CREATE INDEX "commission_records_status_idx" ON "commission_records"("status");

-- CreateIndex
CREATE UNIQUE INDEX "sales_target_monthly_year_month_teamId_staffId_scenarioKey_key" ON "sales_target_monthly"("year", "month", "teamId", "staffId", "scenarioKey");

-- CreateIndex
CREATE INDEX "sales_team_transfers_staffId_idx" ON "sales_team_transfers"("staffId");

-- CreateIndex
CREATE INDEX "sales_team_transfers_transferDate_idx" ON "sales_team_transfers"("transferDate" DESC);

-- AddForeignKey
ALTER TABLE "users" ADD CONSTRAINT "users_team_id_fkey" FOREIGN KEY ("team_id") REFERENCES "sales_teams"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "refresh_tokens" ADD CONSTRAINT "refresh_tokens_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "finance_transactions" ADD CONSTRAINT "finance_transactions_accountId_fkey" FOREIGN KEY ("accountId") REFERENCES "finance_accounts"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "finance_transactions" ADD CONSTRAINT "finance_transactions_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES "finance_categories"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "finance_transactions" ADD CONSTRAINT "finance_transactions_dealId_fkey" FOREIGN KEY ("dealId") REFERENCES "fact_deals"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "finance_transactions" ADD CONSTRAINT "finance_transactions_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "dim_projects"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "finance_transactions" ADD CONSTRAINT "finance_transactions_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES "customers"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "finance_transactions" ADD CONSTRAINT "finance_transactions_staffId_fkey" FOREIGN KEY ("staffId") REFERENCES "sales_staff"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "debt_records" ADD CONSTRAINT "debt_records_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES "customers"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "debt_records" ADD CONSTRAINT "debt_records_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "dim_projects"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "debt_records" ADD CONSTRAINT "debt_records_staffId_fkey" FOREIGN KEY ("staffId") REFERENCES "sales_staff"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "debt_records" ADD CONSTRAINT "debt_records_dealId_fkey" FOREIGN KEY ("dealId") REFERENCES "fact_deals"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "debt_records" ADD CONSTRAINT "debt_records_transactionId_fkey" FOREIGN KEY ("transactionId") REFERENCES "finance_transactions"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "finance_budgets" ADD CONSTRAINT "finance_budgets_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES "finance_categories"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "hr_departments" ADD CONSTRAINT "hr_departments_managerId_fkey" FOREIGN KEY ("managerId") REFERENCES "hr_employees"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "hr_teams" ADD CONSTRAINT "hr_teams_departmentId_fkey" FOREIGN KEY ("departmentId") REFERENCES "hr_departments"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "hr_employees" ADD CONSTRAINT "hr_employees_departmentId_fkey" FOREIGN KEY ("departmentId") REFERENCES "hr_departments"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "hr_employees" ADD CONSTRAINT "hr_employees_positionId_fkey" FOREIGN KEY ("positionId") REFERENCES "hr_positions"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "hr_employees" ADD CONSTRAINT "hr_employees_managerId_fkey" FOREIGN KEY ("managerId") REFERENCES "hr_employees"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "hr_employees" ADD CONSTRAINT "hr_employees_teamId_fkey" FOREIGN KEY ("teamId") REFERENCES "hr_teams"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "hr_transfer_history" ADD CONSTRAINT "hr_transfer_history_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES "hr_employees"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "hr_transfer_history" ADD CONSTRAINT "hr_transfer_history_fromDepartmentId_fkey" FOREIGN KEY ("fromDepartmentId") REFERENCES "hr_departments"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "hr_transfer_history" ADD CONSTRAINT "hr_transfer_history_toDepartmentId_fkey" FOREIGN KEY ("toDepartmentId") REFERENCES "hr_departments"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "hr_transfer_history" ADD CONSTRAINT "hr_transfer_history_fromTeamId_fkey" FOREIGN KEY ("fromTeamId") REFERENCES "hr_teams"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "hr_transfer_history" ADD CONSTRAINT "hr_transfer_history_toTeamId_fkey" FOREIGN KEY ("toTeamId") REFERENCES "hr_teams"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "hr_contracts" ADD CONSTRAINT "hr_contracts_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES "hr_employees"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "hr_attendances" ADD CONSTRAINT "hr_attendances_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES "hr_employees"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "hr_leave_requests" ADD CONSTRAINT "hr_leave_requests_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES "hr_employees"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "hr_leave_requests" ADD CONSTRAINT "hr_leave_requests_approverId_fkey" FOREIGN KEY ("approverId") REFERENCES "hr_employees"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "hr_salary_records" ADD CONSTRAINT "hr_salary_records_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES "hr_employees"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "hr_salary_items" ADD CONSTRAINT "hr_salary_items_salaryId_fkey" FOREIGN KEY ("salaryId") REFERENCES "hr_salary_records"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "hr_performance_reviews" ADD CONSTRAINT "hr_performance_reviews_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES "hr_employees"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "hr_performance_reviews" ADD CONSTRAINT "hr_performance_reviews_reviewerId_fkey" FOREIGN KEY ("reviewerId") REFERENCES "hr_employees"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "hr_candidates" ADD CONSTRAINT "hr_candidates_jobId_fkey" FOREIGN KEY ("jobId") REFERENCES "hr_job_postings"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "hr_trainees" ADD CONSTRAINT "hr_trainees_courseId_fkey" FOREIGN KEY ("courseId") REFERENCES "hr_courses"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "hr_leave_balances" ADD CONSTRAINT "hr_leave_balances_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES "hr_employees"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "hr_benefits" ADD CONSTRAINT "hr_benefits_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES "hr_employees"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "hr_overtime_records" ADD CONSTRAINT "hr_overtime_records_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES "hr_employees"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "hr_overtime_records" ADD CONSTRAINT "hr_overtime_records_approverId_fkey" FOREIGN KEY ("approverId") REFERENCES "hr_employees"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "legal_project_docs" ADD CONSTRAINT "legal_project_docs_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "dim_projects"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "legal_transaction_docs" ADD CONSTRAINT "legal_transaction_docs_dealId_fkey" FOREIGN KEY ("dealId") REFERENCES "fact_deals"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "legal_transaction_docs" ADD CONSTRAINT "legal_transaction_docs_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES "customers"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "mkt_leads" ADD CONSTRAINT "mkt_leads_campaignId_fkey" FOREIGN KEY ("campaignId") REFERENCES "mkt_campaigns"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "notifications" ADD CONSTRAINT "notifications_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "sales_activities" ADD CONSTRAINT "sales_activities_staffId_fkey" FOREIGN KEY ("staffId") REFERENCES "sales_staff"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "sales_activities" ADD CONSTRAINT "sales_activities_teamId_fkey" FOREIGN KEY ("teamId") REFERENCES "sales_teams"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "appointments" ADD CONSTRAINT "appointments_staffId_fkey" FOREIGN KEY ("staffId") REFERENCES "sales_staff"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "appointments" ADD CONSTRAINT "appointments_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES "customers"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "appointments" ADD CONSTRAINT "appointments_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "dim_projects"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "property_products" ADD CONSTRAINT "property_products_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "dim_projects"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "product_status_logs" ADD CONSTRAINT "product_status_logs_productId_fkey" FOREIGN KEY ("productId") REFERENCES "property_products"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "sales_teams" ADD CONSTRAINT "sales_teams_departmentId_fkey" FOREIGN KEY ("departmentId") REFERENCES "hr_departments"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "sales_staff" ADD CONSTRAINT "sales_staff_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "sales_staff" ADD CONSTRAINT "sales_staff_hrEmployeeId_fkey" FOREIGN KEY ("hrEmployeeId") REFERENCES "hr_employees"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "sales_staff" ADD CONSTRAINT "sales_staff_teamId_fkey" FOREIGN KEY ("teamId") REFERENCES "sales_teams"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "fact_deals" ADD CONSTRAINT "fact_deals_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "dim_projects"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "fact_deals" ADD CONSTRAINT "fact_deals_staffId_fkey" FOREIGN KEY ("staffId") REFERENCES "sales_staff"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "fact_deals" ADD CONSTRAINT "fact_deals_teamId_fkey" FOREIGN KEY ("teamId") REFERENCES "sales_teams"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "sales_bookings" ADD CONSTRAINT "sales_bookings_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "dim_projects"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "sales_bookings" ADD CONSTRAINT "sales_bookings_staffId_fkey" FOREIGN KEY ("staffId") REFERENCES "sales_staff"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "sales_bookings" ADD CONSTRAINT "sales_bookings_teamId_fkey" FOREIGN KEY ("teamId") REFERENCES "sales_teams"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "sales_deposits" ADD CONSTRAINT "sales_deposits_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "dim_projects"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "sales_deposits" ADD CONSTRAINT "sales_deposits_staffId_fkey" FOREIGN KEY ("staffId") REFERENCES "sales_staff"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "sales_deposits" ADD CONSTRAINT "sales_deposits_teamId_fkey" FOREIGN KEY ("teamId") REFERENCES "sales_teams"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "fact_sales_daily" ADD CONSTRAINT "fact_sales_daily_teamId_fkey" FOREIGN KEY ("teamId") REFERENCES "sales_teams"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "fact_sales_daily" ADD CONSTRAINT "fact_sales_daily_staffId_fkey" FOREIGN KEY ("staffId") REFERENCES "sales_staff"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "commission_records" ADD CONSTRAINT "commission_records_dealId_fkey" FOREIGN KEY ("dealId") REFERENCES "fact_deals"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "commission_records" ADD CONSTRAINT "commission_records_staffId_fkey" FOREIGN KEY ("staffId") REFERENCES "sales_staff"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "commission_records" ADD CONSTRAINT "commission_records_teamId_fkey" FOREIGN KEY ("teamId") REFERENCES "sales_teams"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "sales_target_monthly" ADD CONSTRAINT "sales_target_monthly_teamId_fkey" FOREIGN KEY ("teamId") REFERENCES "sales_teams"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "sales_target_monthly" ADD CONSTRAINT "sales_target_monthly_staffId_fkey" FOREIGN KEY ("staffId") REFERENCES "sales_staff"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "sales_team_transfers" ADD CONSTRAINT "sales_team_transfers_staffId_fkey" FOREIGN KEY ("staffId") REFERENCES "sales_staff"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "sales_team_transfers" ADD CONSTRAINT "sales_team_transfers_fromTeamId_fkey" FOREIGN KEY ("fromTeamId") REFERENCES "sales_teams"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "sales_team_transfers" ADD CONSTRAINT "sales_team_transfers_toTeamId_fkey" FOREIGN KEY ("toTeamId") REFERENCES "sales_teams"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

